[2022-01-04 08:41] timoschlueter opened #5 "Import trend/direction from LibreLink Up"
The plugin does not import trend/direction information yet. The information is available via LibraLink Up, therefore we should import the values. There probably needs to be a mapping of some sort.

Nightscout accepts the [following values](https://github.com/nightscout/cgm-remote-monitor/blob/46418c7ff275ae80de457209c1686811e033b5dd/lib/plugins/direction.js#L53):

|  Value  | Symbol  |
|---|---|
|

[2022-01-04 08:43] timoschlueter opened #6 "Add device name to entries"
The "device" attribute is not yet filled. Maybe we can read sensor information from the LibreLink Up API. If not, we should at least fill the "device" attribute with something like `freestyle-libre`

[2022-01-11 22:24] sebdei commented on #5
#7

[2022-01-12 07:25] timoschlueter commented on #5
Thanks again, @sebdei! :)

[2022-01-12 07:25] #5 closed

[2022-01-23 15:21] JayJay265 opened #15 "Upload Nightscout fail"
I I installed the app on Heroku, but the log always shows the error "Upload to Nightscout Failed" The Nightscout URL and Api are correct.

[2022-01-24 18:51] timoschlueter opened #16 "Support for mmol/L units"
Right now, the upload uses the ".Value"-Field from the response object. This is bad, since the value might either be in mmol/L or mg/dL, depending on the users LibreLink setup.

Fortunately, the value also returns an attribute called ".ValueInMgPerDl". This is always mg/dL, no matter what the use has configured. Therefore we should switch to this attribute.

[2022-01-24 18:53] timoschlueter commented on #16
example response:

[code]

[2022-01-24 19:06] #16 closed

[2022-01-24 19:10] timoschlueter commented on #15
Is your Nightspot instance available from Heroku? do you host your NS on Heroku too?

[2022-01-24 19:32] JayJay265 commented on #15
Ja der NS Server wird auf Heroku bereitgestellt und auch gehostet

[2022-01-25 08:39] stoneag11 commented on #15
I experienced the same thing :( ! (Upload to NIGHTSCOUT failed. Logging in to Libre Linkup and receiving blood glucose measurements works fine, but upload to NS is not possible. Do I have to set up a new NS site?

[2022-01-25 22:05] caffe12345 opened #19 "Data always missing last few measurements - method to get latest data as well?"
First off I'm really impressed by this work.

I would like to adapt the code to display current measurements on a fitness band for Libre 3. However, when I run the code the result of the "/graph" GET-request is always missing the last few measurements. In other projects I saw people using "/glucoseHistory" but this somehow leads to error now.

Have you get any idea how to also fetch the latest dat

[2022-01-26 08:17] timoschlueter commented on #19
Thank you very much. :)

The `/graph` endpoint contains the history as well as the current measurement. My application uses both. The current measurement is always added the list of measurements first and the history is used to backfill the data.

If you look at the code here https://github.com/timoschlueter/nightscout-librelink-up/blob/ea3ab6c8c5d2010a9e2ac17c2383304e50df01f6/index.js#L149 you ca

[2022-01-26 11:54] blaqone commented on #15
Same error here, too!

[2022-01-26 12:16] timoschlueter commented on #15
just to verify: You have created a new subject/access token in the nightscout admin page and used the generated aAccess token with the uploader? The access token needs to have permissions to push data into the nightscout API.

[2022-01-26 12:32] blaqone commented on #15
Yes, added a subject, added the amdin role and generated a token.

[2022-01-26 12:44] timoschlueter commented on #15
@blaqone can you try accessing the API of your NS instance through the swagger-ui (`https://<your-ns-url>/api-docs/#/`) and use the "authorize" button to authenticate with the created access token? does this work?

[2022-01-26 12:44] blaqone commented on #15
Yes i can auth with the token -> admin.

[2022-01-26 12:48] blaqone commented on #15
@timoschlueter how can i see if the token did actually work within the swagger-ui?

[2022-01-26 12:52] timoschlueter commented on #15
@blaqone "api_secret" is the method you should use.
after authentication you can try one of the endpoints by clicking "Try it out" and then "execute".

![image](https://user-images.githubusercontent.com/3465220/151166065-cbdb0d97-9e3d-4fae-ad7b-931b4e252114.png)

There should be a response coming back from your instance if everything works:

![image](https://user-images.githubusercontent.com/34652

[2022-01-26 12:54] mbdiab commented on #15
always used the initial created token. Now with a new created one on nightscout admin page -->
data is succesfully uploaded to nightscout
@timoschlueter great work thank very much

[2022-01-26 12:54] timoschlueter commented on #15
awesome, @mbdiab! i should make that clear in the readme. will update with the next version! :)

[2022-01-26 12:56] blaqone commented on #15
Yes, this produced a proper response!

[2022-01-26 13:04] blaqone commented on #15
Okay, changing settings on my end to allow connections without and with port seemed to fix it as I get a working connection.

[2022-01-26 13:29] blaqone commented on #15
@timoschlueter so after a few tries it works perfectly now, timo! Thank you very much for your work. :)
One last question, how come it always tries to upload the last readings since the start of the script? So it counts up and up ... ?

[2022-01-26 14:02] timoschlueter commented on #15
@blaqone glad that it works now! :)
It should actually not count up forever. The LibreLink Up API returns 140 - 142 measurements max. (last 12 hours). The script uploads all the measurements it receives unfiltered into nightscout since nightscout seems to be handling duplicate entries quite well. At least i haven't noticed any issues so far. :)

Normally you should always see something like this i

[2022-01-26 14:12] blaqone commented on #15
Im uploading g6 AND FL3 into my NS. Quite interestings ....
![image](https://user-images.githubusercontent.com/37814299/151178456-22c958f9-8dea-423c-8808-eb0d0b9a8d19.png)

[2022-01-26 14:25] timoschlueter commented on #15
Very interesting! Which one is the FL3 measurement?

[2022-01-26 18:59] #15 closed

[2022-01-28 17:34] #19 closed

[2022-02-06 16:29] LuisPuertollano commented on #15
sorry to comment on a closed thread: Does this mean, a closed-loop with AAPS 3.0.0 would be the possible? but therefore, to exchange data between AAPS and Linre Link for Libre 3, the patched LibrelinkUp and Nightscout would then be needed....so then, without internet (e.g. on a plane?), there would be no closed-loop, right? Thank you!

[2022-02-06 16:39] blaqone commented on #15
Correct!

[2022-02-06 16:59] blaqone commented on #15
The FL3 is below and always way too low.

[2022-02-06 17:01] LuisPuertollano commented on #15
Thank you! I´m still undecided,....let me explain shortly:
I´m going this week to the dr. office to decide if I renew the libre 2 year-supply or to upgrade to libre 3...
ATM the method with libre 2 works fine enough for me (no internet needed), so I´m still thinking, if an over the internet closed loop would be whise in my case, as my home connection is not so good (is really lagy)...or maybe I sh

[2022-02-06 17:58] blaqone commented on #15
I’d keep the FL2 as it is way more accurate, at least in my case AND for now you always need a internet connection with the FL3.

[2022-02-06 18:26] LuisPuertollano commented on #15
Oh! I never expected the FSL3 to be less accurate than the FSL2...
But thinking about it, maybe better wait a bit until there is a way for FSL3 without needing the cloud.

Thank you and thank also everyone involved in this development! :-D

[2022-02-08 23:37] adarbac opened #20 "Freestyle Libre 2 scanning"
Does it work with Freestyle Libre 2 without repetitive NFC scanning?

[2022-02-14 20:41] timoschlueter commented on #20
Unfortunately not. All this tool does is pulling data from LibreLink Up and uploading it to Nightscout. If there is no data in LLU, there is nothing to upload. With Libre 2 you need to scan in order to upload data to LLU. Therefore this is still a requirement. :/

[2022-02-14 20:41] #20 closed

[2022-02-28 13:54] yoshimo opened #26 "Cross Sync with Mysugr and others"
The basic idea is interesting.
Some people prefer a nice App like mysugr that collects a few more data pieces.
Some doctors prefer Libreview, some other systems.
Are you intrested in creating a solution that pulls data from multiple sources, combines them, denoises them and uploads the merged data to connected services?
This would make it a lot easier to maintain data for the end user

[2022-03-01 06:05] timoschlueter commented on #26
I don't think this is in the scope for this project. The concept of nightscout is really promising to achieve what you are suggesting, actually. Having nightscout as the single, self-hosted source of truth with the right integration into Health Kit (at least on iPhones) would come very close to such a solution.
I am currently using [Nightguard](https://github.com/nightscout/nightguard/issues/101)

[2022-03-01 06:05] #26 closed

[2022-03-02 11:35] job-bens commented on #6
When iI fill in the information as requested the deploy works, but the application does not work no data goes back to Nightscoot

[2022-03-04 05:57] job-bens opened #28 "TypeError: Cannot read properties of undefined (reading 'token')"
Hi,
Thanks for your work, I would like use, but I don't understand What's happen... But It doesn't work, I must be making a mistake somewhere...

<img width="1066" alt="Capture d’écran 2022-03-03 à 19 50 13" src="https://user-images.githubusercontent.com/57336930/156707443-c55a83d9-1ac8-4a74-9d80-e9d59433fc62.png">

[2022-03-04 06:59] timoschlueter commented on #28
Hi @job-bens, can you please provide the environment variables that you have set on the plugin? You can obfuscate them obviously. I just what to make sure that you have set the required variables correctly :)

[2022-03-04 07:08] timoschlueter opened #29 "Nightscout token in SHA1 really necessary?"
I want to analyze the SHA1 requirement of the Nightscout token. Some users are confused about the hashing of the token. In my instance, I don't hash the token and the plugin still works. Maybe we should update the documentation again. The SHA1 requirement was introduces in PR https://github.com/timoschlueter/nightscout-librelink-up/pull/21.
@HansKre since I don't use Heroku: is the hashing somethi

[2022-03-04 07:11] HansKre commented on #29
Hi @timoschlueter, yes, at least for me, during my testing it wasn't working without hashing even locally. Even, if you look at networking/http-traffic of the Nightscout-Website, the token is hashed. I was confused myself and then I was reading through their docs and they were saying that token has to be hashed. I didn't save the link though, but if necessary, I might try finding it again.

[2022-03-04 07:15] timoschlueter commented on #29
Very interesting! I will look deeper into this. I am confused that it works for me with the clear text token then.
If we find out what's going on we can either update the doc or make the plugin smart enough to hash the token internally If necessary so that users don't have to bother with the hashing themselves. :)

[2022-03-04 07:19] HansKre commented on #29
Yes, agree. Unfortunately, I didn't find that doc on the quick, only this one: https://nightscout.github.io/nightscout/ifttt/
The one doc that I have in mind though was specifically mentioning that hashing of API-tokens is a best practice and security precaution, therefore it would kind of defeat that if we did it in the code. But I guess, it's not such a super-critical use case and could be done

[2022-03-04 07:20] job-bens commented on #28
Of Course,
<img width="1215" alt="Capture d’écran 2022-03-03 à 21 17 20" src="https://user-images.githubusercontent.com/57336930/156717620-576d676a-df4c-4947-b2a1-6f54b7d8a5db.png">
<img width="1585" alt="Capture d’écran nightscoot" src="https://user-images.githubusercontent.com/57336930/156717633-568752e5-e6b2-404b-83bc-304632e7e9cd.png">
<img width="1535" alt="Capture d’écran swager" src="ht

[2022-03-04 11:31] HansKre commented on #29
@timoschlueter I found the doc that I was looking for.
If you go here: [Developers: API authorization](https://nightscout.github.io/nightscout/security/#developers-api-authorization)

There, it says: 'See [this page](https://github.com/nightscout/cgm-remote-monitor/wiki/API-v1-Security) for how to authenticate your app in the API calls.'

If you open that link, you'll find:

[2022-03-06 14:47] microspock commented on #28
Hi here, i have the same "token" problem, and i live in France too, like job-bens. I think it's more librelink up related than nightscout.

[2022-03-06 14:48] microspock commented on #28
Hi here, i have the same "token" problem, and i live in France too, like job-bens. I think it's more librelink up related than nightscout.

[2022-03-06 14:58] microspock commented on #28
Hi here, i have the same "token" problem, and i live in France too, like job-bens. I think it's more librelink up related than nightscout.

[2022-03-08 02:05] job-bens commented on #28
@timoschlueter Any idea ?

[2022-03-18 17:41] dassystem opened #30 "TypeError: Cannot read properties of null (reading 'FactoryTimestamp')"
Hi, I have the following Issue:

[code]

[2022-03-19 13:25] isabellepeinture commented on #28
Same here, I have the same error
TypeError: Cannot read properties of undefined (reading 'token')
I live also in France if that changes anything.
![setuplink](https://user-images.githubusercontent.com/74980799/159122909-e046a5d1-b950-4bd9-8a94-e8617ca8544b.png)

[2022-03-21 05:53] Lirycs228 opened #31 "Current Measurement doesnt show in nightscout"
I have configured an instance of nightscout and this uploader since 2 weeks now. For the first week everything ran fine. The uploader was pushing the current measurement and the backfilled data to nightscout every minute.

After the first week I noticed during one day. that the dots would not appear every minute anymore. The uploader was still logging that it was pushing ~141 Measurements to Night

[2022-03-21 05:54] Lirycs228 commented on #31
![graph](https://user-images.githubusercontent.com/25328380/159211345-3cb70b59-39fb-4939-b702-59053abfccf4.png)

Sorry. The file didn't seem to upload correctly within github

[2022-03-21 11:28] timoschlueter commented on #31
that is strange. i am running the uploader myself for a few month now and my measurements are still accurate and come in every minute. i am not aware of any nightscout limits. :(

[2022-03-21 14:50] Lirycs228 commented on #31
I have now put a debug output line at the beginning of the uploadToNightscout function.

2022-03-21T14:37:00.431Z [info]: Logged in to LibreLink Up
2022-03-21T14:37:00.619Z [info]: Found 1 LibreLink Up connection.
2022-03-21T14:37:00.619Z [info]: -> The following connection will be used: XXX
2022-03-21T14:37:00.861Z [info]: Received blood glucose measurement
2022-03-21T14:37:00.863Z [info]: curren

[2022-03-22 12:01] Jonaskjellsson opened #32 "Filter?"
Wondering is there any possibility to add any filter.
Type average of 5 minutes which is then sent to Nightscout?

[2022-04-02 08:51] Joerg-Schoemer opened #33 "invalid or expired jwt"
Hi Timo,

after the last update from llu on 2022-03-31 the jwt returned by login is rejected in the connections request.
I've added a lot of logging to figure out what's going on. Here is the current log file:

[code]

Any ideas?

Kind regards
Jörg

[2022-04-02 10:44] cubybox commented on #33
same here:

![image](https://user-images.githubusercontent.com/52036051/161379607-bdc175ff-9611-4c4d-a144-0f7b9f6357e7.png)

[2022-04-02 10:52] timoschlueter commented on #33
Are you able to log into the app with the same credentials? I have not experienced the same problem yet, but I will look into it!

[2022-04-02 11:06] cubybox commented on #33
yes. Login into the app with the same credentials works fine.

![IMG_B3C0BF78D277-1 2](https://user-images.githubusercontent.com/52036051/161380384-9cbce7eb-5d01-4c76-b14c-0e18e7b4b66d.jpeg)

[2022-04-02 11:19] Joerg-Schoemer commented on #33
Yes, llu App still works.
Are you able to sniff the traffic of the app?

[2022-04-02 11:21] timoschlueter commented on #33
Yes, i can check the traffic as soon as I am back at my desk. Unfortunately I won’t be home until tomorrow evening. :/

[2022-04-02 11:32] cubybox commented on #33
no problem. There was a life before your ingenious tool. I'll just use it again until the problem is solved ;-)

[2022-04-02 19:34] Joerg-Schoemer commented on #33
May be abbott had a bug and fixed it. The old request sequence is back in life.

[2022-04-03 08:18] cubybox commented on #33
For me it still not working.

[2022-04-04 20:48] #33 closed

[2022-04-06 11:56] Joerg-Schoemer commented on #32
if you use the latest version, the time interval will change to 5 minutes.

[2022-04-06 15:16] #32 closed

[2022-04-06 15:16] Jonaskjellsson commented on #32
Tanks!

[2022-04-07 06:50] timoschlueter commented on #31
Is this still an issue? I noticed some downtime on Abbotts side too but it seems to work fine now.

[2022-04-07 06:52] timoschlueter commented on #30
hi @dassystem, can you make sure you have current measurements in the LibreLink Up app? i have not come across this issue myself yet. :(

[2022-04-07 13:24] Lirycs228 commented on #31
Yes it is unfortunately still a problem. But the Libre Link 3 App is not performing well at all. So i suspect that this is really just due to the App. Sorry for not finding a solution. You can close this issue or mark it as unfixable. Thanks for the help

[2022-04-07 15:25] dassystem commented on #30
Whether the application has fresh data from a client or not, the server should not crash. Not having data could have several reasons: A fresh setup, missing internet connection of the uploader, issues on the side of abbots site. In these cases, certainly not the whole application should break.

Unfortunately I don't know javascript very well, but I assume that we need to check for null values when

[2022-04-21 18:26] artempartos opened #38 "Cannot read properties of undefined (reading 'pop')"
If you setup brand new nightscout server (I mean there is no data there) - you will have this error
[code]

[2022-04-27 06:48] marcograwunder opened #39 "Invalid credentials / 401"
Hi, thank you very much for your project.

I used some parts in a private system (with iobroker) to get the glucose data of my son. Since yesterday evening, I cannot login any more. It seems to be a 401 response ("Request failed with status code 401"), I've already created another user to watch, but still the same. The login method is (nearly) identical to yours.

I just want to know, if the error

[2022-05-01 18:26] convay89 opened #40 "Cannot read properties of undefined (reading 'dateString')"
Hi,

after setting up Nightscout via Heroku (successfully). I tried to set up libre link up, also via Heroku. But unfortunatily I receive always the following error.

`2022-05-01T18:20:00.514429+00:00 app[worker.1]: [info]: no authTicket.expires
2022-05-01T18:20:00.514465+00:00 app[worker.1]: [info]: renew token
2022-05-01T18:20:01.164961+00:00 app[worker.1]: [info]: Logged in to LibreLink Up
2022

[2022-05-02 06:13] timoschlueter commented on #39
hi @marcograwunder, I have not noticed any problems yet. The LibreLink Up servers were in maintenance mode a few times over the last couple of days. Have you checked again if it works now?

[2022-05-02 06:15] timoschlueter commented on #40
hi @convay89, I will take a look at this. Thanks for pointing it out.

[2022-05-02 07:19] marcograwunder commented on #39
Thank you for your reply. Then I will need to check, if there is an error in my still not working code.

[2022-05-02 07:19] #39 closed

[2022-05-02 19:54] 1spammer commented on #40
Same error here, i think i'm Missing Something.
Did a fresh Nightscout Setup via heroku.
Nightscout is up and running. Are there some Variables I forgot to set in Nightscout?

2022-05-02T19:37:33.144318+00:00 app[worker.1]: [info]: Starting cron schedule: */1 * * * *
2022-05-02T19:38:00.463465+00:00 app[worker.1]: [info]: Logged in to LibreLink Up
2022-05-02T19:38:00.684776+00:00 app[worker.1]: [i

[2022-05-04 21:36] blooolb commented on #40
The Problem is the empty Nightscout API response on new installations. The code expects at least a single returned entry to determine the timestamp  the last entry. The code is missing a simple check whether any results were returned before trying to access them in line index.js#L188

`    return new Date(response.data.pop().dateString);`

[2022-05-05 06:48] Jonaskjellsson opened #41 "Floating average"
Hi me and my daughter would love to have a feature with floating average. You can have a variable on how many of the most recent values are calculated 2-6 maybe?

Libre is a bit sensitive if you lie on it, it quickly dips down 2-3 mmol and low alarms come unnecessarily.

Thanks

[2022-05-10 18:14] timoschlueter commented on #40
This should be fixed in version [1.6.2](https://github.com/timoschlueter/nightscout-librelink-up/releases/tag/v1.6.2) :)

[2022-05-10 18:14] #38 closed

[2022-06-05 22:32] khskekec opened #44 "Using dedicated client and implement only bridge functionality for nightscout"
Hi @timoschlueter,

Thanks for your excellent work and giving people the opportunity to feed there nightscout instance with Libre 3 data.

For this simple purpose I have also implemented a basic client to retrieve libre 3 data: https://github.com/DiaKEM/libre-link-up-api-client

Maybe it is an option for you to reuse it here and implement only the Middleware to pass data to nightscout to reduce th

[2022-06-07 09:45] fabricejoubert commented on #28
Hello,
Did you find a solution ? I also live in France and I have got the same error message....

I would like to use the fsl3 with android aps and for the moment it seems to be the only solution to recover the blood sugar values.

Thanks in advance

[2022-06-07 10:35] job-bens commented on #28
Malheureusement non, j ai abandonné l idée

Le mar. 7 juin 2022 à 11:45, fabricejoubert ***@***.***> a
écrit :

[2022-06-12 12:08] cubybox opened #45 "Docker container for Raspberry Pi"
Hi Timo,

do you think it is possible to create the Docker container for arm64 in addition to the amd64 platform? Then you could run the whole thing very energy-efficiently on a Raspberry Pi.

Many greets
Dirk

[2022-06-12 14:51] khskekec commented on #45
Hi Dirk,

I am really interested to this topic also and am confused now. I thought that this should be also possible with the current image.

Do you fear incompatibility or would wish a more performant image?

Kind regards

Selçuk

[2022-06-12 14:57] MaxPressure opened #46 "error code=H10 desc="App crashed""
Hi Timo,

First, thanks for having posted this script.

I have deployed it on Heroku, double checked variables, hashed Nightscout password as requested, but I keep on logging the following error:

2022-06-12T14:50:00.688125+00:00 heroku[router]: at=error code=H10 desc="App crashed" method=POST path="/api/v1/entries" host=<removed>.herokuapp.com request_id=d2e00448-58fa-4726-abd4-7fce16876b3a fwd="

[2022-06-13 19:19] cubybox commented on #45
Hi Selçuk,

unfortunately it is not compatible. Until then I also thought that a Docker container runs on any platform. Unfortunately that is not the case. In this case you get the following error message:

_WARNING: The requested image's platform (linux/amd64) does not match the detected host platform (linux/arm64/v8) and no specific platform was requested._

greeting
dirk

[2022-06-13 19:38] khskekec commented on #45
Hi Dirk,

I read something about problems on arm based archs and docker. There might be a problem to recognize the needed platform image correctly.

Can you try to define the arch explicitly like:

[code]

Unfortunately I do not have a rpi actually which is up and running.

Would be great if you can give me some feedback 😊.

Kind regards

Selçuk

[2022-06-13 19:42] cubybox commented on #46
Hi Andrea,

you have to hash the API-token - not the password. Could that be the problem?
I have used this generator and it works with it:

[sha generator](https://www.sha1-generator.info/was-ist-der-sha1-hash#:~:text=Der%20Secure%20Hash%20Algorithm%20(SHA1,20%2Dbyte)%2DHashwert%20erzeugt.)

greets
Dirk

[2022-06-13 19:50] cubybox commented on #45
Hi Selçuk,

I've already tried that. Unfortunately does not work.
Then the only way left is to define the Docker container for multiplatform. Then it should work.

For now, I've done a setup at heroku.com. Works well and I don't have to leave the Windows PC running 24 hours a day. But I'm still interested in getting the whole thing to run on a Pi ;-)

greets
Dirk

[2022-06-14 05:34] marcograwunder commented on #45
You could just run docker create (https://docs.docker.com/engine/reference/commandline/create/) with the given dockerfile directly on the raspberry pi. Then a Arm-based image is created and can be used there.

[2022-06-14 11:46] timoschlueter commented on #45
I just release version 1.7.1 with support for ARM64 platforms. :)
Feel free to try it on your RPi @cubybox.

[2022-06-14 11:59] timoschlueter commented on #45
I added version 1.7.2 with support for ARMv7 (Raspberry Pi 3). Was able to run it on my device. I don't have a RPi 4 available for testing but on the RPi 3 the container runs just fine. :)

[2022-06-14 12:03] timoschlueter commented on #44
Hi Selçuk, glad to see that I am not the only one working on this problem :)
For now, I would keep things the way they are but I will subscribe to your project in order to stay up to date. I am sure I will come back to this later :)

[2022-06-14 12:03] #44 closed

[2022-06-14 13:32] dassystem commented on #30
Hey @timoschlueter, thanks for the mention!

I'm now getting a error message in the log (which is correct!) and the application is not crashing anymore (which is even better!)

[code]

So at least this unhappy-path is working as expected and this bug issue can be closed. Thank you!

[2022-06-14 13:34] timoschlueter commented on #30
awesome! :)

[2022-06-14 21:41] cubybox commented on #45
Hi Timo,

it runs great on an old raspberry PI3 that I still had here. Many thanks for the quick help!

All data is uploaded correctly to nightscout - but the same error message keeps appearing in the log. In addition, the number of uploaded BG values ​​in the log does not seem to be correct:

`2022-06-14T21:37:02.101357111Z [info]: Received blood glucose measurement items`
`2022-06-14T21:38:03.21

[2022-06-14 22:49] MaxPressure commented on #46
Hi Dirk,
Thanks for your input, it really drove me in the right direction.
Actually , I now receive FSL3 BG readings on Nightscout.
Regards
Andrea

[2022-06-14 22:49] #46 closed

[2022-06-15 10:23] #45 closed

[2022-06-16 15:43] fabricejoubert commented on #28
Bonjour,

Pour information cette fonctionnalité vient d'être implémentée dans la dernière version xdrip et ça fonctionne très bien. Xdrip récupère directement les données libreview.

https://xdrip.readthedocs.io/en/latest/install/webfollower/

[2022-06-22 12:40] timoschlueter commented on #28
@zanfirovidius i noticed that on my instance as well. I will take a look at this.

[2022-06-24 21:53] zanfirovidius commented on #28
Hello. Quick question.... dose any of you have issue with receiving data from the LibreLink server? (personaly I am using the fr server for my kid). For the last 5 days I received data only at random intervals and starting from today I am not able to receive any data. (and is not link to nightscout-librelink-up, because also the LibreLinkUp app is not receiving data) Any info will be useful becaus

[2022-06-25 08:55] marcograwunder commented on #28
No problems here. Maybe the data is not sent to the libre link servers at all? We sometimes need to restart the smartphone of our son to activate data sending again…

[2022-06-27 19:52] zanfirovidius commented on #28
Thank you. I ended up uninstalling and reinstalling the app. It works now. Thank you again.

[2022-07-01 12:26] useful-idiot commented on #15
Maybe I am too stupid but I only get errors and no measurements. I have nightscout and librelinkup in two separate heroku accounts. xDrip4iOS can upload data to nightscout.

When I run the API tests (without SHA1 hashed value of the token) it seems to communicate with nightscout properly.
![API-Test](https://user-images.githubusercontent.com/39710190/176893256-91570882-6bb2-4097-b0a5-3e1aa50b6dfd.

[2022-07-05 06:52] timoschlueter commented on #28
I published version 1.8.0 of the app where you can set the `LINK_UP_REGION` environment variable to specify the API endpoint the app should use. In your case, setting the variable to "FR" will set the `LIBRE_LINK_UP_URL` to `api-fr.libreview.io`. This should help with the manual overwrite of the variable in the code :)
Seems like there are many more API endpoints dedicated to specific regions von

[2022-07-14 05:49] timoschlueter opened #54 "No measurements for German users"
As of 13 July, Abbott changed the API-Endpoint for LibreLink Up users in Germany.
We have to implement support for the new Endpoint, which can be set through the `LINK_UP_REGION` environment variable.

[2022-07-14 06:02] #54 closed

[2022-07-14 06:07] timoschlueter commented on #54
Its working again with version 1.8.1. Please make sure to update to this version and set the environment variable `LINK_UP_REGION` to `DE` if you are living in Germany. As someone who was affected myself I can confirm that version 1.8.1 with the new region setting does work fine again:

[code]

Sorry for the inconvenience, I hope the fix came soon enough.

[2022-07-14 11:53] artempartos commented on #28
Got the same message yesterday, any thoughts?

[2022-07-14 15:56] ezepizarro commented on #28
Hello,
I am getting the same error.

`2022-07-14T15:54:00.621399+00:00 app[worker.1]: [info]: Logged in to LibreLink Up
2022-07-14T15:54:00.659272+00:00 app[worker.1]: [error]: {"message":"invalid or expired jwt"}
2022-07-14T15:54:00.660459+00:00 app[worker.1]: [error]: getting libreLinkUpConnection:  Cannot read properties of undefined (reading 'data')`

I tried with EU, FR, and DE.

[2022-07-14 16:46] khskekec commented on #28
I just fixed this in my client this morning. The response if you are using a specific server answers with redirect information.

Could you just try out api.libreview.io

[2022-07-14 18:38] ezepizarro commented on #28
@khskekec I tried, same error.
I manually hit the API endpoints, and I am able to get the token, but hitting the connections endpoint is returning that error.
Could it be that they changed the way that you authenticate?

[2022-07-14 18:50] khskekec commented on #28
No, my client application also include authentication procedures and I did not change anything in the code.

The only thing I changed was the api url to api.libreview.io.

I do not think that changes are necessary here.

[2022-07-14 19:56] useful-idiot commented on #28
Just in case you did not get this email (it is available as a web version, too) I wanted to give this as an additional information.

https://service.freestylelibre.se/optiext/optiextension.dll?ID=qYZqW272h0U8aC30UCtxz%2BN_o66DhGuEh5IWxsI47PuRGaXazQjPjck1Rr7B%2BTEenpMiYru3AqvKB_pW0jy3GXuRUW%2Ba1

It's in swedish but google translator couldn't handle it 🤪 (I wanted to translate to German)

[2022-07-15 07:30] ezepizarro commented on #28
@useful-idiot I didn't get that email, that's probably what is going on with my account.
I don't want to delete the main account and miss all the information, I will see how can I work around it if it's possible.
Thanks!

[2022-07-15 07:48] gui-dos commented on #28
I am noticing that LibreLinkUp always visits https://api.libreview.io/llu/config/country?country=IT first for me.

Very probably the key `"LSL-ServiceURL":"https://api-eu.libreview.io/lsl/api/"` is the regional server currently assigned to you:
[code]

[2022-07-15 07:52] timoschlueter commented on #28
@gui-dos awesome observation! i didn't notice that when i looked at the traffic.
I will check if we can use this mechanism to automatically find the correct API endpoint.

[2022-07-15 09:19] ezepizarro commented on #28
Now is working for me, thanks all!

[2022-07-15 09:48] gui-dos commented on #28
@timoschlueter I didn’t realize at first that it doesn’t need authentication — and that they are supporting even push notifications! B-)

The replies to the country codes where the Libre 3 is currently available vary properly:
[code]

Oddly enough, however:
[code]

[2022-07-15 10:45] timoschlueter commented on #28
Whats interesting here is: If the `config`-Endpoint does not need any authentication but the assumption that it does in fact return the API endpoint that you have to use is correct, how does Abbott decide which endpoint you need to access? Some kind of IP based geolocation? Or the HTTP header? Any idea, @gui-dos? :)

For now, the endpoints are hardcoded in the application as of version 1.8.0. A ge

[2022-07-15 10:50] gui-dos commented on #28
When you post your credentials to `/llu/auth/login` you get the country code in `data.user.country` ;-)

(https://gist.github.com/khskekec/6c13ba01b10d3018d816706a32ae8ab2)

[2022-07-15 14:54] gui-dos commented on #28
@khskekec I am scraping also the Logbook measurements and alarms but I am noticing that LibreLinkUp in this case is always using the local server https://api-eu.libreview.io/llu/connections/xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxx/logbook

[2022-07-15 15:11] khskekec commented on #28
@gui-dos

In my opinion this is just fine and the service ist responsible for proper routing and redirecting.

But this definetly simplifies the configuration for users. In comparison to dexcom, which requires the usage of regional server, abbot does not care about it it seems.

I am not sure whether responses differ in general but actually it is guaranteed that most recent cgm readings are availa

[2022-07-15 19:07] timoschlueter commented on #28
I really like the discussion with you guys. Thank you all! :)

@khskekec I am sitting in Germany as well and just tried using the generic endpoint from Germany via a VPN connection going through Spain, just to confirm your theory of routing. When connecting from outside of Germany (through the VPN), the generic login endpoint seems to determine that the request comes in fact from Spain and gives a

[2022-07-15 22:28] khskekec commented on #28
Hey @timoschlueter,

Nice catch!

I find your idea great to let the bridge talk to the main api.libreview.io and do the reset of the host if the service responds with some redirect information instead of an access token.

I will definetly implement this in my client also.

The interesting part for me is the way abbot handles the routing:

I am sitting in Germany and have an account belonging to Ge

[2022-07-17 20:08] AidasK commented on #28
It worked when I changed my region from DE to GB. So I would suggest everyone to test out different regions despite your country.

[2022-07-17 20:11] AidasK opened #57 "Nightscout upload failed"
<img width="1096" alt="image" src="https://user-images.githubusercontent.com/2088484/179423116-10a50353-dc77-40d4-8761-625435873f8a.png">
Nightscout upload fails. Just bought a server from https://www.t1pal.com/ and entered upload url and upload secret and it just fails. Any suggestions? Api secret and host value seems to be fine.

[2022-07-18 10:26] AidasK commented on #57
I guess that t1pal shared hosting does not support api, but they do support uploader url. Does anybody know how to find documentation on how to use uploader api for nightscout. Documentation is tragic there! I would be willing to implement that

[2022-07-18 10:36] AidasK commented on #57
Found something, https://github.com/nightscout/cgm-remote-monitor/wiki/API-v1-Security.
[code]
Tried using sha1 instead of api secret and still failed

[2022-07-18 19:23] AidasK commented on #57
It looks like I just needed to enter my api secret in sha1 format. It works! Thanks a lot! Swagger docs were a great help too!

[2022-07-18 19:23] #57 closed

[2022-07-29 06:53] timoschlueter commented on #28
@kaussel i noticed that as well a few days ago but it has since gone back to normal (with 5 minutes intervals). I would assume that this was a server issue on Abbotts side. Can you check again if the problem still exists?

[2022-07-30 11:06] kaussel commented on #28
@timoschlueter
thanks for the info but I can't report any progress. the behaviour remains the same. I constantly miss 2 of 3 measurements. but I also think it's a problem on abbotts side,

since the linkup app often shows no data "---", I contacted their support and they claimed the issue may have been that I used the same email address for libreview and linkup. but using a new linkup account didn

[2022-08-03 14:04] xsen84 opened #58 "Error getting LibreLinkUp reading"
### After some update on libre link servers that happened on August 3 i am getting the error bellow once very 2-3 readings:

`
2022-08-03T13:52:00.501607+00:00 app[worker.1]: [info]: Found 1 LibreLink Up connection.
2022-08-03T13:52:00.501662+00:00 app[worker.1]: [info]: -> The following connection will be used: Alexandru Mihai (Patient-ID: XXX)
2022-08-03T13:52:00.674858+00:00 app[worker.1]: [inf

[2022-08-07 11:56] Sleepy46 commented on #58
Hi Today i got the Same error Message

[2022-08-10 04:24] ThomasEmge opened #59 "No LibreLink Up connection found"
I am running into an issue where no link up connection is detected. I believe that is login itself was successful.

I am based in the US and I using the Libre 3 app on Android to upload.

Any suggestions on what else to check or to explore are greatly appeciated.

[code]

[2022-08-10 06:24] timoschlueter commented on #59
We will figure this out. :)
Do you have data in the actual LibreLink Up Android App available (not the LibreLink App, it needs to be in the LibreLink Up App) with the same account you are using with `nightscout-librelink-up`?

[2022-08-10 06:27] timoschlueter commented on #58
I think this problem is caused whenever this app tries to upload measurements to Nightscout which are in fact empty. We need to make sure that we are only uploading to Nightscout when there are actual measurements.
You can see that right below the cryptic HTML error message, there is this message:

[code]

This is missleading and we need to address this. As of why there are no measurements in the

[2022-08-10 14:12] ThomasEmge commented on #59
Thanks @timoschlueter . I am new to the Libre ecosytem and I missed that step. I do have a connection now and the values are populated into NightScout as expected.
Thanks.

[2022-08-10 14:12] #59 closed

[2022-08-15 14:24] timoschlueter opened #60 "Upload CGM Sensor changes to Nightscout"
While looking at the Nightscout API I noticed that it is possible to log CGM sensor changes in the Nightscout GUI.
Since the LibreLink Up API offers Sensor data, it might be possible to upload this data into Nightscout.

Not yet working on it, but I will look into this in the future.

[2022-08-19 09:58] phpsoft2015 opened #61 "Why not support UK region？"

[2022-08-24 05:01] zanfirovidius opened #62 "[error]: {"message":"invalid or expired jwt"}"
Hello,

Dose any of you have this problem?

``[error]: {"message":"invalid or expired jwt"}
[error]: getting libreLinkUpConnection:  Cannot read properties of undefined (reading 'data')``

[2022-08-24 05:16] xsen84 commented on #62
got the same issue. last night there was another upgrade of librelink servers:

2022-08-24T05:15:00.398295+00:00 app[worker.1]: [info]: renew token
2022-08-24T05:15:06.148526+00:00 app[worker.1]: [info]: Logged in to LibreLink Up
2022-08-24T05:15:06.284205+00:00 app[worker.1]: [error]: {"message":"invalid or expired jwt"}
2022-08-24T05:15:06.284825+00:00 app[worker.1]: [error]: getting libreLinkUp

[2022-08-24 06:03] svensson90 commented on #62
Same here... Debug Log:

`[debug]: authenticatedHttpHeaders: {"User-Agent":"FreeStyle LibreLink Up NightScout Uploader","Content-Type":"application/json","version":"4.2.2","product":"llu.ios","Accept-Encoding":"gzip, deflate, br","Connection":"keep-alive","Pragma":"no-cache","Cache-Control":"no-cache","authorization":"Bearer XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX"}
[error

[2022-08-24 06:06] timoschlueter commented on #62
Is this an ongoing problem? Are you getting data in the LibreLink Up mobile app? I noticed some missed measurements myself, but it worked itself out after the server outage on last night had been resolved.

What region are you guys in?

[2022-08-24 06:08] svensson90 commented on #62
DE / Germany ;-)
I have tried many restarts. But the error is still there. LibreLink Up App is working.

[2022-08-24 06:15] svensson90 commented on #62
I got it running.
In region DE and maybe some others, you have to accept the new "End User Agreement".

1. Open Libre Link Up Mobile App
2. Logout
3. Login again
4. Accept the "End User Agreement"
5. nightscout-librelink-up by @timoschlueter will get a new token and starts working

[2022-08-24 06:26] zanfirovidius commented on #62
So, for the FR region i do receive values in LibreLinkUp app, and with @svensson90 mini hack not it works again (thank you)

[2022-08-24 10:02] xsen84 commented on #62
I confirm too that @svensson90 's trick is working. Thanks

[2022-08-24 10:08] timoschlueter commented on #62
It might be possible to automatically accept the terms from within the app. But this might be problematic. Updated terms and conditions might include parts that you might actually want to read (crazy, right?).

Maybe we should include a way for background acceptance as an opt-in feature via a ENV variable?

[2022-08-28 14:02] timoschlueter commented on #61
There does not seem to be a specific "UK region on the LLU backend.
Have you tried using the EU-Region from the UK? From what i can see, the UK-Endpoint is just the same as the one for the EU. Give it a try :)

[2022-08-31 08:15] Birkertf opened #64 "No Data is being uploaded to Nightscout"
After setting everything up, this log appears, no data is being uploaded to Nightscout.

Has anybody got an Idea what to do?

[code]

[2022-09-07 10:12] timoschlueter commented on #64
Have you checked your nightscout API token? It seems that the token you set is not valid and nightscout returns a 401 Unauthorized response. Have you created a new token specifically for librelinkup?

[2022-09-07 10:12] #61 closed

[2022-09-07 10:18] timoschlueter opened #65 "Handling API timeouts"
While porting this application to Go/Golang in order to use it as a input-plugin for Telegraf I noticed that there are periodically timeouts on the `/connections` endpoint of the LLU backend. Timeouts are not yet handled in this application and might have something to do with the errors in the logs as described in #58 and #28.

[2022-09-10 11:15] timoschlueter opened #66 "Add alternatives to Heroku"
Since Heroku does not offer a free tier anymore, we should add an alternative service as a deployment target.
One option would be [render.com.](https://render.com).
They do offer a "Deploy to Render"-Button similar to Heroku: https://render.com/docs/deploy-to-render

[2022-09-12 22:07] Birkertf commented on #64
The token is the same as the one i set up in Nightscout...

Any other idea?

[2022-09-18 19:47] kaussel commented on #66
manually deployed it on render as web service today. don't know if web service is the right choice. got it working but it frequently runs in npm errors where my expertise runs dry. service is then restarting uploading once and encountering the same error.

Sep 18 09:20:01 PM  [info]: Received blood glucose measurement items
Sep 18 09:20:02 PM  [info]: Upload of 1 measurements to NightScout succeed

[2022-09-19 17:22] sfgul commented on #64
Hello
how to create new token?

[2022-09-20 08:30] timoschlueter commented on #64
You have to open the `Admin Tools` after authenticating with your main Nightscout admin token. Within the `Admin Tools`, you can create a new `Subect` (pink arrow). Make sure that you give the subject a name and a role with read and write capabilities (or simply `admin`, if you don't care about fine-grained control). After that you can find the access token to use with this application under `Acce

[2022-09-20 08:39] sfgul commented on #64
Thank you so much :)

[2022-09-24 09:42] PythonFZ opened #67 "504 Gateway Time-out"
Since this morning I'm getting `504 Gateway Time-out` when synchronizing data to my nightscout instance.

[code]

All Services run on a self-hosted docker container based on `docker-compose.yaml`. I'm using the `xDrip+` App together with Nighscout as well and synchronizing data from `XDrip+` -> `Nightscout` still works. I did not make any recent changes or update that could have caused this.

Do y

[2022-09-24 11:28] PythonFZ commented on #67
I checked the LibreLinkUp App and there wasn't any data either. Restarting the Libre3 app solved the issues.
Closed as duplicate of #58 / #65 for better log messages.

[2022-09-24 11:28] #67 closed

[2022-09-28 08:55] kaussel commented on #28
just fyi: during last nights maintenance window by abbott I got normal uploads every 5 mins for about an hour, then falling back to the old error pattern again
![grafik](https://user-images.githubusercontent.com/90672471/192734877-647973bd-b772-4317-9296-191b1b342172.png)

[2022-10-03 18:32] nightwatcher74 opened #68 "Add config options for http/https and TCP-Port"
Hi Timo,

I use you great tool to uplad my data into nightscout which is running on my own docker server and a swarm stack file/compose.
In this case librelink-up and nightscout talk together via a docker (swarm) network directly and i have no https.

Would it be possible to make http/https and the port configurable?

When it will be interesting, heare isma stack file:

version: "3.7"

services:

[2022-10-04 19:15] timoschlueter commented on #68
I added an option to disable HTTPS in version `1.9.0`. Set the environment variable `NIGHTSCOUT_DISABLE_HTTPS` to `true` in order to disable HTTPS for Nightscout.
As for the port: You can simply append the port to the `NIGHTSCOUT_URL` (e.g. localhost:8080)

Thank you very much for bringing this up. Its a very useful addition :)

[2022-10-04 19:15] #68 closed

[2022-10-05 06:06] timoschlueter commented on #58
I improved the error handling in version 1.9.0. Could you check if this is still an issue?

[2022-10-05 14:28] Chapagain43 commented on #64
Similar issue as sfgul.
Added a new token and still no dice.
below is from heroku consol.
anything i am missing here?

2022-10-05T14:25:26.692567+00:00 app[worker.1]:
2022-10-05T14:25:26.692608+00:00 app[worker.1]: > nightscout-librelink-up@1.9.0 start
2022-10-05T14:25:26.692609+00:00 app[worker.1]: > node index.js
2022-10-05T14:25:26.692609+00:00 app[worker.1]:
2022-10-05T14:25:26.857233+00:00 ap

[2022-10-11 08:32] microspock commented on #28
Great news !

Le jeu. 16 juin 2022 à 17:43, fabricejoubert ***@***.***> a
écrit :

[2022-10-14 07:37] akitamostodos opened #70 "[error]: No LibreLink Up connection found"
Hello I use the docker compose:

version: '3.3'
services:
  nightscout-libre-link:
    image: timoschlueter/nightscout-librelink-up
    container_name: nightscout-libre-link
    environment:
      LINK_UP_USERNAME: "MYEMAIL"
      LINK_UP_PASSWORD: "MYPASSWORD_LIBREVIEW"
      LINK_UP_TIME_INTERVAL: "5"
      LINK_UP_REGION: "EU"
      NIGHTSCOUT_URL: "localhost"
      NIGHTSCOUT_API_TOKEN: "12345

[2022-10-16 15:16] Dabbadoeber opened #71 "Nighscout Port 443/80"
Is it possible to change the port numbers of the nightscout connection ?
I have nightscout running locally on a synology nas in docker port 80 and 443 are occupied by the nginx server
1337 is the port i use for web interface is it possible to use other ports to upload the data ?
i am new to this so forgive me, as i dont not fully understand everything.
my ultimate goal is to obtain the glucose dat

[2022-10-16 16:45] timoschlueter commented on #71
Yes, this is possible: Just add the Port to your Nightscout URL.
For example: `nightscout.example.com:1337`
Additionally, you might want to disable the default HTTPS connection by setting the environment variable `NIGHTSCOUT_DISABLE_HTTPS` to `true`.

This should make your setup work :)

[2022-10-16 19:00] Dabbadoeber commented on #71
Have tried a lot but no luck,
This is the log file:
[info]: no authTicket.expires
[info]: Logged in to LibreLink Up
info]: -> The following connection will be used: somebody  (Patient-ID: 8723424234234234234234)
error]: connect ECONNREFUSED 172.17.0.4:80
info]: Trying to upload 142 glucose measurement items to Nightscout

NIGHTSCOUT_API_TOKEN - is the the acces token i have in nightscout on the ad

[2022-10-16 19:03] timoschlueter commented on #71
Not the main API admin token to access the “Admin Tools”. It’s a separate token you create (a so called “Subject”) via the Nightscout Admin Tools. You can create such token and give it the “admin” role. The returned token is the one you use with this app.

[2022-10-16 19:21] Dabbadoeber commented on #71
Thanks, i followed Upload Nightscout fail #15
now i get some data, Thank you for this !

[2022-10-16 19:27] timoschlueter commented on #71
Awesome! Glad that you could resolve the problem. :)

[2022-10-16 19:27] #71 closed

[2022-10-16 19:30] timoschlueter commented on #70
@akitamostodos are you sure that you entered the right credentials for LibreLink Up? Don’t confuse the app with the regular LibreLink App. Those are two separate applications in the App Store/Play Store.

This application uses LibreLink Up credentials which are different from the normal one you create in the LibreLink app which you connect your sensor to.

Can you make sure that you provided Libre

[2022-10-17 06:36] akitamostodos commented on #70
!!!!!!!!!! I feel like stupid!, I was so excited that I didn't read well, LibreLink UP, UP :))) I used the librelink user and password not librelink UP.

  Lot of thanks, and excuse me a lot!.

[2022-10-17 07:23] timoschlueter commented on #70
Glad that I could help. It is very confusing, don’t worry :)

[2022-10-17 07:23] #70 closed

[2022-10-17 08:03] akitamostodos opened #72 "Upload to NightScout failed"
Hello, Sute I am doing something bad, but I dont know... If someone can help me.....

yml of the nightscout-librelink-up is:

version: '3.3'
#version: '3.3'

services:
  nightscout-libre-link:
    image: timoschlueter/nightscout-librelink-up
    container_name: nightscout-libre-link
    environment:
      LINK_UP_USERNAME: "USERNAME_LIBRELINK_UP"
      LINK_UP_PASSWORD: "PASSWORD_LIBRELINK_UP"

[2022-10-17 08:08] timoschlueter commented on #72
Since you are using docker internal communication, you have to disable HTTPS on your Nightscout container.

Just set the environment variable `INSECURE_USE_HTTP` to `true`. This will make Nightscout listen for unencrypted traffic, which the LibreLink Up container needs in your configuration.

[2022-10-17 09:03] akitamostodos commented on #72
Yes, now other error:

[error]: {"message":"Not authorized"}
[error]: Upload to NightScout failed

I dont know why, I use the api of admin, and now I have created a device I try wit the new api and same error :( frustrating for me:(

Lot of thanks.

[2022-10-17 11:23] timoschlueter commented on #72
Have you created a new subject within Nightscouts Admin Tools? You also have to set the “admin” role to the subject and then use the generated token for the Uploader.

[2022-10-17 13:39] akitamostodos commented on #72
Yes i did it. And if I put on the web:

http://0.0.0.0:1337/api/v2/authorization/request/device2-67e535026826088a

RETURN:

token	"eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJhY2Nlc3NUb2tlbiI6ImRldmljZTItNjdlNTM1MDI2ODI2MDg4YSIsImlhdCI6MTY2NjAxMzg3OCwiZXhwIjoxNjY2MDQyNjc4fQ.sTzMS9WEFD8mq5RHNdqZPkE8KN29e4LBveTnm_OoAs8"
sub	"device2"
permissionGroups
0
0	"*"
1	[]
iat	1666013878
exp	1666042678

But on th

[2022-10-20 13:56] Oscarperez-1980 opened #73 "last glucose dosnt read"
Hello, I notice that the last glucose measure, the value of NOW, don't appear, the postbox glucose measures take 20 minutes of delay.
It is right?

Thanks.

[2022-11-01 21:22] hightowe opened #74 "Back-filling missed data"
I have been using this software for a few days to stream Libre 3 data to Nightscout, and it is great. Thank you!

I have noticed a few times that when my son is away from his phone for an extended period (and therefore data is not flowing), that when he returns that this code will fill in some, but not all of the missing data. Both the LibreLink and XDip+ apps seem to fill in all of the missed dat

[2022-11-03 08:13] emmatovar27 commented on #72
I have a similar issue with a local connection!

I'm using docker to handle everything.

<img width="376" alt="image" src="https://user-images.githubusercontent.com/39507448/199672426-eda7db16-0962-4376-91ed-42e5e91809e0.png">

I still got the same error.

<img width="350" alt="image" src="https://user-images.githubusercontent.com/39507448/199672643-1a34399e-aafe-49f3-a635-04638a069228.png">

I ha

[2022-11-03 12:17] timoschlueter commented on #72
Just to make sure there is no misunderstanding:
If you try to connect the uploader to a local Nightscout instance on the same machine via localhost there are two settings you have to set via environment variables:

---
**Nightscout Docker Container:**
INSECURE_USE_HTTP=true

**LibreLink Up Docker Container:**
NIGHTSCOUT_DISABLE_HTTPS=true
---

Can you please check again that both containers are co

[2022-11-03 17:59] emmatovar27 commented on #72
Yes! both of the variables are set up correctly.

![image](https://user-images.githubusercontent.com/39507448/199796790-7fdad221-d5d9-43d3-b05d-2db223823ffb.png)

![image](https://user-images.githubusercontent.com/39507448/199797003-99be6b2b-4689-4fb4-8632-abeb42f09417.png)

Do you think the reason for that is that there are no previous entries?
![image](https://user-images.githubusercontent.com/3

[2022-11-03 21:36] emmatovar27 commented on #72
Hey, I fixed it! :)

I have to change the name from localhost to the container name (nightscout).

![image](https://user-images.githubusercontent.com/39507448/199838563-83c682ab-272d-4580-9490-77d04d4c3594.png)

Thanks again for this tool! :) I will extract those values to compare them with Dexcom G6.

[2022-11-04 15:54] akitamostodos commented on #72
OOOKKKK localhost or ip AND PORT!!!! I write the port and works! thanks.

[2022-11-04 18:46] timoschlueter commented on #74
I have not noticed this myself yet but will look into it! :)

[2022-11-04 20:08] hightowe commented on #74
@timoschlueter - just FYI, with a few more days gone by, I can confirm that am seeing this behavior consistently. My son is a highschool basketball player and he leaves him mobile phone in the locker room during practice each day. When his phone is back in range of the Libre 3, a portion (the most recent portion) of the missed data populates, but not all of it. Just thought I'd share this addition

[2022-11-05 01:21] emmatovar27 commented on #74
I have the same exact issue! I'm using the FSL 3 from the US!
I went outside without Internet for a couple of minutes, and when I came back to the apartment, the uploads start working again.

![image](https://user-images.githubusercontent.com/39507448/200094762-184174fc-b415-42b1-b53d-03ea1c821d20.png)

[2022-11-05 09:20] timoschlueter commented on #74
Just a thought, but this might be timezone related. Maybe we do compare the LLU dates in one timezone with the Nightscout dates in another.
I will try to replicate the behavior on my setup and look into it!

[2022-11-05 12:56] hightowe commented on #74
@timoschlueter  - I have not actually tried to trace or see the data flow, but getUtcDateFromString() implies that it returns UTC times and it appears to be properly used in both places (pull from LLU and write to Nightscout). A possibility that I do see is that the lastEntryDate() function does not seem to explicitly convert to UTC. That *may* be OK if Nightscout's API ("/api/v1/entries?count=1")

[2022-11-07 20:59] Chapagain43 opened #75 "Plan B to Heroku"
If anyone is still looking for Plan B to Heroku, I have been using Azure for a little while now since it is back and both the NightScout website and this wonderful write app from Libre to NightScout works seamlessly.

Follow the same steps as migrating nightscout website from the link below and replace where necessary with librelink-up configurations
https://nightscout.github.io/vendors/azure/migr

[2022-11-09 15:49] kimsol1 opened #76 "No data in Nightscout?"
I just got a Libre 3 sensor and I'm trying to figure this Nightscout thing out.  I've set up a Nightscout to eventually  get my readings on my Garmin watch. I've created a Mongodb that seems to work as intended and the Nightscout through Railway. The thing is that I don't get any readings in Nightscout and I can't figure out what the problem is. I can't see any errors in the logs.

Upload seems fi

[2022-11-11 10:40] #76 closed

[2022-11-11 15:37] Chapagain43 commented on #75
Getting this error anyone know what I need to do?

2022-11-07T21:31:31.511Z INFO - Logging is not enabled for this container.
Please use https://aka.ms/linux-diagnostics to enable logging to see container logs here.
2022-11-07T21:31:33.652Z INFO - Initiating warmup request to container libre2nightscout_0_9ad090eb for site libre2nightscout
2022-11-07T21:31:54.087Z INFO - Waiting for response to war

[2022-11-20 00:17] Rtzftz opened #77 "Calendar Events"
Would it be possible to integrate something like the xDrip4iOS "Calendar Events" feature?
Especially for Apple Watch users, the best way to always have the latest blood glucose readings on the watch face is the calendar widget. Due to the lack of Libre3 support, it is currently only possible to configure xDrip as a follower so that it loads the data from nightscout and creates the "calendar event"

[2022-11-20 11:24] Samhagberth opened #78 "High delta"
If you compare the delta going up and down ( 5min) its alot higher when you compare with a libre 1 (miaomiao, xdrip4ios) the abbot libre 3 app is compensating down this  afterwords a bit in the logged curve,

Is there a way to apply some average filter on the libre 3 bg values before sending it to nightscout

I think they use something like that in Xdrip4ios.

to prevent the curve to overreach act